body {
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
fieldset {
    background: white;
    padding: 50px;
    border-radius: 30px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    font-size: 12px;
    text-align: center;
    color: black;
}
container fieldset {
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
h3 {
    text-align: center;
    color: gray;
    font-size: 14px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    font-size: 14px;
}
input[placeholder="Log in"] {
    background: #4E4EFF;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
h4 {
    text-align: center;
    color: #4E4EFF;
    font-size: 14px;
    cursor: pointer;
}